<main class="bg">

<header>
    <table width="100%">
        <tr>
            <td class="td-left" width="15%">   <p class="header-connect"> <a href="#">About us</a>   </p>     </td>
            <td class="td-center" width="80%">  <img src="public/foogle.jpg" alt="foodle logo" height="120px" width="120px">     </td>
            <td class="td-right" width="5%"> <p class="header-connect">Connect: </p></td>
            <td class="td-right" width="5%">    <a> <img src="public/fb.png" alt="foodle logo" height="35px" width="35px">  </a>  </td>
            <td class="td-right" width="5%">    <img src="public/instagram.jpg" alt="foodle logo" height="35px" width="35px">     </td>    
        </tr>
    </table>
</header>

    <form id="Ingredientchecker" name="Ingredientchecker" action="http://localhost:3000/abcdefgh" method="POST" >
        <label for = "Ingredient"><h2>Tell us what ingredients you have</h2></label><br>
        <input type="textbox" name="Ingredient" id="Ingredient"><br><br><br>
        <input type="submit" value="SEARCH" />
    </form>

<footer>    
    <hr>
    <p class="footerp"><span>A search engine for food alchemists...!</span></p>
</footer>
</main>