<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Recepie Finder</title>
    <link rel="stylesheet" type="text/css" href="public/site.css">
</head>



<!--<body background="public/bg2.jpg" class="bg"> -->
<body>
    {{{body}}}
</body>

</html>